.oldPrice {
    text-decoration: line-through;
}

.newPrice {
    color: #391;
}

.roundOptions {
    float: right;
    border-radius: 3px;
    background: #eee;
    border: 1px solid #ccc;
    font-weight: normal;
}

.roundStep, .copyButton {
    float: right;
    padding: 3px 8px;
    border-radius: 4px;
    background: #f71;
    border: 1px solid #e51;
    color: #fff;
    margin-left: 3px;
}

.roundStep:hover, .copyButton:hover {
    background: #f82;
}

.shareButton {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background: url(icons/share.png)
}