.oldPrice {
    text-decoration: line-through;
}

.newPrice {
    color: #391;
}

.roundOptions {
    float: right;
    border-radius: 3px;
    background: #eee;
    border: 1px solid #ccc;
    font-weight: normal;
}

.roundStep {
    float: right;
    padding: 3px 8px;
    border-radius: 4px;
    background: #f71;
    border: 1px solid #e51;
    color: #fff;
    margin-left: 3px;
}

.roundStep:hover {
    background: #f82;
}